.date{
  width: 973px;
  height: 160px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.start{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 160px;
  font-size: 200px;
  letter-spacing: -2%;
  color: #9DBEFD;
}

.end{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 160px;
  font-size: 200px;
  letter-spacing: -2%;
  color: #EF5DA8;
}